!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no')
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      header.header
        h1= title
      nav.nav
        div.btn-group
          a.btn(href='/note') 全部
          if user
            a.btn(href='/add') 添加
            a.btn(href='/logout') 退出
          if !user
            a.btn(href='/login') 登录
      div.content
        if error || success
          div.flash: div.flash-inner= error || success
        block content
      footer.footer
        p &copy; Couchist.