extends layout
block content
  div.form-wrapper.addedit
    form.form-horizontal(method='post', action=postPath, autocomplete='off')
      div.form-group
        label.control-label 标题
        div.control-wrapper
          input.form-control(name='title', value=note && note.title || '')
      div.form-group
        label.control-label 内容
        div.control-wrapper
          textarea.form-control(name='note', rows='10')= note && note.note || ''
      div.form-group
        div.opaque-label.control-wrapper.text-center
          button.btn.btn-default(type='submit') 保存
