article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: inherit;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0;
}
menu,
ol,
ul {
  padding: 0;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  color: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::-moz-selection {
  background-color: #d2d9d3;
  text-shadow: none;
}
::selection {
  background-color: #d2d9d3;
  text-shadow: none;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background: #f1efef;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background: #d2d9d3;
}
::-webkit-scrollbar-trackwindow-in:active {
  -webkit-box-shadow: none;
  background: none;
}
::-webkit-scrollbar-thumbwindow-in:active {
  -webkit-box-shadow: none;
  background: none;
}
body {
  font: 14px/1.8 'Helvetica Neue', Arial, 'WenQuanYi Micro Hei', 'Microsoft Yahei', 'Hiragino Sans GB', STXihei, sans-serif;
  color: #575754;
  background: #f1efef;
}
a {
  color: #a5c2a7;
  text-decoration: none;
}
a:hover {
  color: #77a37a;
  text-decoration: underline;
}
.clearfix,
.form-horizontal .form-group,
.content,
.note-head {
  *zoom: 1;
}
.clearfix:before,
.form-horizontal .form-group:before,
.content:before,
.note-head:before,
.clearfix:after,
.form-horizontal .form-group:after,
.content:after,
.note-head:after {
  content: '';
  display: table;
}
.clearfix:after,
.form-horizontal .form-group:after,
.content:after,
.note-head:after {
  clear: both;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
  *white-space: nowrap;
}
.ir:before {
  content: '';
  display: block;
  width: 0;
  height: 100%;
}
.ibw,
.note-list {
  font-size: 0;
  line-height: 0;
  letter-spacing: -5px;
  *letter-spacing: normal;
  *word-spacing: -1px;
}
.ib,
.note-list .note {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.left-block {
  display: block;
  margin-left: 0;
  margin-right: auto;
}
.right-block {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.text-left,
.note-list .note {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center,
.flash {
  text-align: center;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
.heading,
.note-head .title,
.form-addEdit .inputTitle {
  font: 400 1.14em/1.2 'Helvetica Neue', Arial, 'WenQuanYi Micro Hei', 'Microsoft Yahei', 'Hiragino Sans GB', STXihei, sans-serif;
}
.text,
.note-body,
.form-addEdit .inputNote {
  font: 300 1.14em/2 'Merriweather', FangSong, serif;
}
.summary,
.note-list .note-body {
  font: 300 1em/1.8 'Merriweather', FangSong, serif;
}
.text-muted,
.note-head .ts {
  color: #b3b3ad;
}
.small,
.note-head .ts {
  font-size: 0.85em;
}
.btn {
  position: relative;
  border-style: solid;
  border-width: 1px;
  margin: 0 0.3em;
  line-height: 1;
  z-index: 1;
  outline-color: #a5c2a7;
  padding: 10px 14px;
  border-radius: 4px;
  color: #575754;
  border-color: #e7e4e4;
  background-color: #fff;
}
.btn:hover,
.btn:focus {
  color: #30302e;
  border-color: #c3bcbc;
  background-color: #fff;
}
.btn:hover,
.btn:focus {
  z-index: 10;
  text-decoration: none;
}
a.btn {
  display: inline-block;
}
.btn-xs {
  padding: 2px 6px;
  border-radius: 3px;
}
.btn-sm {
  padding: 5px 8px;
  border-radius: 4px;
}
.btn-default {
  color: #575754;
  border-color: #e7e4e4;
  background-color: #fff;
}
.btn-default:hover,
.btn-default:focus {
  color: #30302e;
  border-color: #c3bcbc;
  background-color: #fff;
}
.btn-group .btn {
  margin-left: -1px;
  margin-right: 0;
  border-radius: 0;
}
.btn-group .btn:first-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right-width: 1px;
}
.form-control {
  font-family: 'Merriweather', FangSong, serif;
  width: 100%;
  border: solid 1px #e7e4e4;
  border-radius: 4px;
  background: #fff;
  padding: 10px 10px;
  outline-color: #a5c2a7;
  box-shadow: inset 1px 1px 1px #ece9e9;
}
.form-control:hover,
.form-control:focus {
  color: #30302e;
  border-color: #c3bcbc;
}
input.form-control {
  height: 1em;
  line-height: 1;
}
textarea.form-control {
  line-height: 1.2;
}
.control-label {
  height: 1em;
  line-height: 1;
  padding: 11px 0;
  text-align: right;
}
.form-horizontal .form-group {
  margin: 10px 0;
}
.form-horizontal .control-label {
  width: 10%;
  margin-right: 2%;
}
.form-horizontal .control-wrapper {
  width: 75%;
}
.form-horizontal .control-wrapper.half {
  width: 35%;
}
.form-horizontal .control-label,
.form-horizontal .control-wrapper {
  float: left;
}
.form-horizontal .opaque-label {
  margin-left: 12%;
}
.form-horizontal .btn:first-child {
  margin-left: 0;
}
.form-horizontal .btn:last-child {
  margin-right: 0;
}
.container {
  margin: 0 auto;
}
.header {
  text-align: center;
}
.footer {
  text-align: center;
  color: #999;
}
.nav {
  text-align: center;
  margin-bottom: 40px;
}
.nav a {
  margin: 0 0.5em;
}
.note {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: solid 1px #e7e4e4;
  border-radius: 10px;
  background: #fff;
}
.note-head {
  border-bottom: solid 1px #f3f2f2;
  padding: 1em;
  background: #f8f7f7;
}
.note-head .ts {
  line-height: 1.61em;
}
.note-head .title {
  display: block;
  overflow: hidden;
}
.note-head .title:empty {
  display: none;
}
.note-body {
  padding: 0 1em;
  margin: 1em 0;
  overflow: hidden;
  font-family: 'Merriweather', FangSong, serif;
  text-align: justify;
}
.note-body p {
  margin: 0;
}
.note-foot {
  padding: 0 20px;
  text-align: right;
}
.note-detail .note {
  width: 45em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.note-detail .note-head .title {
  margin-top: 0.5em;
  text-align: center;
}
.note-detail .note-body {
  min-height: 25em;
}
.note-detail .btn-wrapper {
  position: absolute;
  right: 1em;
  top: 1em;
}
.note-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
.note-list .note {
  width: 20em;
  margin: 0.71em;
  padding-bottom: 1em;
}
.note-list .note-head .ts {
  margin-right: 1em;
  float: left;
}
.note-list .note-head .title {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.note-list .note-body {
  height: 10.8em;
}
.form-addEdit .form-control {
  border-radius: 0;
  border-width: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: transparent;
  outline: none;
}
.form-addEdit .inputTitle {
  border-width: 0 0 1px;
  padding: 0 0.2em 0.1em;
  width: 360px;
  text-align: center;
  line-height: 1;
}
.form-addEdit .inputNote {
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(top, transparent 0, transparent 31px, #e7e4e4 32px);
  background-size: 100% 32px;
  background-repeat: repeat;
  background-attachment: local;
}
.flash {
  position: fixed;
  top: 0;
  left: 50%;
}
.flash-inner {
  border-radius: 0 0 2px 2px;
  padding: 0 8px;
  background: #2dc460;
  color: #fff;
  position: relative;
  left: -50%;
}
@media (max-width: 619px) {
  body {
    font-size: 18px;
    min-width: 360px;
  }
  .note-list,
  .note-detail {
    margin-left: 10px;
    margin-right: 10px;
  }
  .note-list .note-body {
    max-height: 150px;
    height: auto;
  }
  .note-list .note,
  .note-detail .note {
    font-size: 18px;
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .note-detail .note-body {
    min-height: initial;
  }
  .note-detail .admin .note-head .title {
    margin-right: 0;
  }
  .form-addEdit .inputNote {
    background-image: -webkit-linear-gradient(top, transparent 0, transparent 44px, #e7e4e4 45px);
    background-size: 100% 45px;
  }
}
@media (min-width: 620px) {
  .note-list {
    width: 600px;
  }
}
@media (min-width: 920px) {
  .note-list {
    width: 900px;
  }
}
@media (min-width: 1220px) {
  .note-list {
    width: 1200px;
  }
}
@media (min-width: 1520px) {
  .note-list {
    width: 1500px;
  }
}
