/* base */
$linkcolor = #a5c2a7
$hovercolor = darken($linkcolor, 15)
$activecolor = darken($linkcolor, 5)
$basecolor = #2dc460
$textcolor = #575754
$mutedcolor = #b3b3ad
$background = #f2f2f2
$headinglink = #4c4c4a
$headinghover = darken($headinglink, 15)
$headingactive = darken($headinglink, 5)
$bordercolor = #f0efe9
$selectcolor = #d2d9d3

$sansserif = 'Helvetica Neue', Arial, 'WenQuanYi Micro Hei', 'Microsoft Yahei', 'Hiragino Sans GB', STXihei, sans-serif
$serif = 'Merriweather', FangSong, serif
$monospace = 'Anonymous Pro', monospace